@charset "UTF-8";
/* line 27, D:/Проекты/Ветеринария РФ/layout/css/ie8.scss */
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  line-height: 34px; }

/* line 30, D:/Проекты/Ветеринария РФ/layout/css/ie8.scss */
.topline {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000,endColorstr=#26000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000,endColorstr=#26000000);
  zoom: 1; }

/* line 33, D:/Проекты/Ветеринария РФ/layout/css/ie8.scss */
.square-button {
  border: 2px solid #fff; }

/*# sourceMappingURL=ie8.css.map */