@mixin ie8-rgba-filter($color) {
   background:none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$color},endColorstr=#{$color});
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$color},endColorstr=#{$color});
    zoom: 1;
}
@mixin ie8-opacity($opacity) {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity+")";
filter: alpha(opacity=$opacity);
}

$input-height: 34px;


input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    line-height: $input-height;
}
.topline {
    @include ie8-rgba-filter('#26000000');
}
.square-button {
  border: 2px solid #fff;
}