/*--Popubottom:--*/

.popup {
  display: none;
  background-color: #fff;
  padding: 35px 40px;
  width: 315px;
  text-align: center;
  input,
  textarea,
  select,
  .jqselect {
    display: block !important;
    width: 100%;
    margin: 6px 0;
  }
  input[type="submit"] {
    margin: 25px auto;
    width: auto;
    min-width: 150px;
  }
  .h2 {
    margin-top: 0;
    text-align: center;
  }
}

.b-close {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAATUlEQVR4AWMAAhMGbgZ0wA0UBQIzhgaGLCAHVSoLKGoGYyCk0UQQHHQeqgCmFEI6BwjhUijSIAmQApAUAUkCxhJwEF6v4A0EvMGHN+ABUw0gAQ0QsA4AAAAASUVORK5CYII=') no-repeat;
  opacity: 0.8;
  cursor: pointer;
}

.b-close:hover {
  opacity: 1;
}

.separator-title {
  text-align: center;
  border-bottom: 1px solid rgba(113, 123, 138, .2);
  span {
    padding: 0 10px;
    background-color: #fff;
    position: relative;
    top: 10px;
    font-size: 17px;
    color: #717b8a;
  }
}
