.ui-datepicker {
  background: #fff;
  font: 90% 'Ubuntu';
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 3px #252525;
}

.ui-icon {
  width: 16px;
  height: 16px;
  display: block;
}

.ui-datepicker-header {
  border: none;
  border-bottom: 1px solid #2d97cb;
  background: #e33f45;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  padding: .5em;
}

.ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  top: 50%;
  border: none;
  position: absolute;
  margin-top: -8px;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-prev {
  left: .5em;
}

.ui-datepicker .ui-datepicker-next {
  right: .5em;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  background-image: url(../images/ui-icons_ffffff_256x240.png);
  background-position: -32px -32px;
  margin-top: 0;
  top: 0;
  font-weight: normal;
}

.ui-datepicker .ui-datepicker-prev span {
  background-position: -96px -32px;
}

.ui-datepicker .ui-datepicker-prev-hover span {
  background-position: -96px -48px;
}

.ui-datepicker .ui-datepicker-next-hover span {
  background-position: -32px -48px;
}

.ui-datepicker table {
  text-align: center;
  table-layout: fixed;
  width: auto;
}

.ui-datepicker th {
  font-size: 8px;
  font-weight: normal;
  text-transform: uppercase;
  border: none;
  text-align: center;
  padding: 5px 0;
}

.ui-datepicker td {
  border: none;
  padding: 0;
}

.ui-datepicker td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  width: $datepicker-height;
  height: $datepicker-height;
  line-height: $datepicker-height;
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  display: block;
  text-decoration: none;
  color: $second-color;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
  color: #bebebe;
}

.ui-datepicker td .ui-state-active,
.ui-datepicker td .ui-state-hover {
  background: #e33f45;
  border-radius: 4px;
  color: #fff;
}