/* ==========================================================================
   Hacks
   ========================================================================== */

@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .company-seller-info {
    .item-seller-info-regions {
      margin-bottom: 2.2em;
    }
  }
  .item-seller-info-reviews-box {
    margin: 3.2em 0;
  }
}