/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.reset-button {
  button {
    padding: 0;
    min-width: 0;
    text-indent: -9999px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    &:active {
      box-shadow: none;
    }
  }
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 4px;
  margin: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  &.slick-loading img {
    display: none;
  }
  display: none;
  &.dragging img {
    pointer-events: none;
  }
  .slick-initialized & {
    display: block;
  }
  .slick-loading & {
    visibility: hidden;
  }
  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0 0 0 8px;
    float: left;
    button {
      width: 22px;
      height: 22px;
      background: url('../images/sprite.png') -140px -5px;
    }
    &.slick-active {
      button {
        background: url('../images/sprite.png') -109px -5px;
      }
    }
    &:first-child {
      margin: 0;
    }
  }
}

button.slick-prev,
button.slick-next {
  width: 7px;
  height: 22px;
  background-color: transparent;
  background-position: 0 0;
  opacity: .3;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  &:active, &:hover {
    opacity: 1;
  }
}

button.slick-prev {
  left: -23px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAWCAQAAACm0U5mAAAAN0lEQVR4AWOAAxYGGwYkEMfwn2EeQu4WkBuHJAcUYIHJ3aS6HAOqHAPCeoTimwjFLAMhPw8t6ACj+CyNtLdeUwAAAABJRU5ErkJggg==);
}

button.slick-next {
  right: -23px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAWCAQAAACm0U5mAAAAQElEQVR4AWMAAhsGFgY4mMfwnyEOwY0Dcm/C5YGMWxTK3yRHHg5igdxbaIpR5ViwysURkLuJkLuFXQ4zcNCCDgCeRCyHpdjj9AAAAABJRU5ErkJggg==);
}

button.slick-disabled {
  display: none !important;
}

.slick-pagin {
  margin-top: 6px;
}

.slider-controls {
  margin-top: 13px;
}

.opinion-slider {
  height: 180px;
  overflow: hidden;
  p {
    margin: 15px 0;
    line-height: 20px;
  }
  .read-more {
    font-size: 13px;
  }
}