.ui-spinner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-right: 12px;
  input.spinner {
    height: $mini-input;
    width: 80px;
    text-align: center;
    &.short-spinner {
      width: 56px;
      height: 26px;
    }
  }
}

.ui-spinner-button {
  position: absolute;
  right: 0;
  width: 8px;
  height: 6px;
  background-repeat: no-repeat;
  opacity: .4;
  text-indent: -9999px;
  cursor: pointer;
  &.ui-spinner-up {
    top: 4px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAANklEQVR4AWNABibOQaIgDONjk7wCxaK4JP+DMEwRpiTCBIQiIJGDLICmIQdmSgZIAs3KDBAbAA+4KgeZT2+8AAAAAElFTkSuQmCC');
  }
  &.ui-spinner-down {
    bottom: 4px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAAPElEQVR4AWMAARPnoAwgFmWAAhAbJAbj5ADxfyC+ApKA4itQsRwGNIEryGyYqeiKEJIIgFCELomhCF0SAFNGKgc5EQQqAAAAAElFTkSuQmCC');
  }
  &:hover {
    opacity: 1;
  }
  &.ui-spin-disabled {
    opacity: .2;
    cursor: default;
  }
}