/* ==========================================================================
   Main Page
   ========================================================================== */

.tabs-box {
  background-color: #dce9e6;
  .adv-search {
    margin: 29px 0;
  }
}

.tabs-ul-wrapper {
  overflow: hidden;
  width: 100%;
}

.main-tabs {
  background: #d2e0dd;
  .ui-tabs-nav {
    height: $main-tabs-height;
    position: relative;
    z-index: 2;
    li {
      height: 100%;
      width: $main-tabs-width;
      a {
        font-size: 11px;
        height: 100%;
        color: #717b8a;
        padding: 13px 33px 0;
        display: block;
        line-height: 1;
        white-space: nowrap;
        @include box-sizing(border-box);
        border-color: #c2d0cd;
        border-style: solid;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        span {
          font-size: 17px;
          color: #454d59;
          display: block;
          text-transform: uppercase;
          margin-bottom: 6px;
        }
      }
      &.ui-tabs-active {
        a {
          background-color: #dce9e6;
          border-color: #dce9e6;
          span {
            font-weight: 500;
          }
        }
      }
      &:first-child {
        a {
          border-width: 0 0 0 1px;
        }
      }
      &:nth-child(2) {
        a {
          border-width: 0 1px 0 0;
        }
      }
    }
  }
  .ui-tabs-panel {
    padding: 30px 0 24px;
    text-align: justify;
    background-color: #dce9e6;
    min-height: 450px;
    .main-tab-inner {
      width: 626px;
    }
  }
  p {
    line-height: 1.7;
  }
}

.tab-imit {
  width: $body-max-width;
  height: $main-tabs-height;
  position: absolute;
  z-index: 1;
  top: 0;
  background: #d2e0dd;
  box-shadow: 2px 2px 8px 0px rgba(0, 3, 2, .11) inset;
  &.right-tab-imit {
    left: $main-tabs-width;
    &.active {
      left: $main-tabs-width * 2;
    }
  }
  &.left-tab-imit {
    left: -$body-max-width;
    &.active {
      left: -$body-max-width + $main-tabs-width;
    }
  }
}

.main-tab-icon {
  margin-right: 11px;
}

.tabs-ul {
  margin-bottom: 13px;
  border-bottom: 1px solid #bdcfcb;
  li {
    float: left;
    margin-left: 5px;
    text-align: center;
    position: relative;
    top: 1px;
    a {
      display: block;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 1px 0;
      color: #b1b4b8;
      padding: 9px 27px;
      font-size: 13px;
      text-decoration: none;
      min-width: 103px;
      &:hover {
        text-decoration: none;
      }
    }
    &.ui-tabs-active {
      a {
        border-color: #bdcfcb;
        color: #454d59;
        background: #fff;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.requests-tabs {
  margin-top: 2.35em;
}

.sale-tabs {
  position: relative;
  .sale-ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 288px;
    >li {
      font-size: 13px;
      color: #494e59;
      padding: 8px 11px;
      line-height: 1;
      position: relative;
      white-space: nowrap;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .jq-radio,
      input[type="radio"] {
        margin-right: 10px;
      }
      &.ui-state-active {
        background-color: #f3f7f7;
      }
    }
  }
  .ui-tabs-panel {
    min-height: 130px;
  }
}

.sale-descr {
  width: 313px;
  min-height: 115px;
  margin: 8px 0 20px;
  line-height: 1.6;
}

.adv-box-ul {
  >li {
    @include box-sizing(border-box);
    width: 328px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #b6c1ca;
    background-color: #fff;
    height: 87px;
    bottom: 1px;
    &:nth-child(odd) {}
    &:nth-child(even) {
      border-width: 0 1px 1px 0;
    }
    &:first-child,
    &:nth-child(2) {
      border-width: 1px 1px 1px 0;
    }
    &:first-child {
      border-width: 1px;
    }
  }
}

.price-economy {
  margin: 40px 0;
  border: 1px solid #b6c1ca;
  background-color: #f2f8f7;
  text-align: center;
  font-size: 13px;
  padding: 12px 0;
  .pe-economy {
    margin-right: 25px;
  }
  .pe-price {
    font-size: 17px;
  }
}