/* ================Variables =============== */

$primary-color:#717b8a;
$second-color: #454d59;
$font-stack: 'Ubuntu',
sans-serif;
$primary-font-size:11px;
$primary-font-weight:300;
$primary-line-height:1.73;
$body-min-width: 1000px;
$body-max-width: 2560px;
$wrapper-min-width: 960px;
$body-background: #dce9e6;
$alt-background: #fff;
$input-height: 40px;
$input-small-height: 28px;
$input-submit-height: 30px;
$placeholder-color:#9ea7b4;
$footer-height:75px;
$link-color: #3d89b5;
$link-color-hover: #4f93d3;
$mini-input: 30px;
$select-height: 36px;
$header-bg-color: #e33f45;
$header-color:#fff;
$header-link-color:#fff;
$search-placeholder-color:#999;
$main-container-height: 589px;
$main-container-img-height: 316px;
$tab-aside-article: 317px;
$main-tabs-height: 60px;
$main-tabs-width: 310px;
$up-box-height: 73px;
$footer-height: 120px;
$wrapper-padding-divider: 46px;
$wrapper-bottom-padding: $up-box-height + $footer-height + $wrapper-padding-divider;
$datepicker-height: 2.7em;
$datepicker-th-height: 20px;
/* ================Mixins =============== */

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin appearance ($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin filter($var) {
  -webkit-filter: $var;
  -moz-filter: $var;
  -ms-filter: $var;
  -o-filter: $var;
  filter: $var;
}

@mixin column-count($width,
$gap,
$count) {
  -moz-column-width: $width;
  -moz-column-count: $count;
  -moz-column-gap: $gap;
  -webkit-column-count: $count;
  -webkit-column-width: $width;
  -webkit-column-gap: $gap;
  column-count: $count;
  column-width: $width;
  column-gap: $gap;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin scale($scale) {
  @include transform(scale($scale));
}